/* Smartphones (portrait) */
@media only screen and (max-width: 375px) {
  .container {
      width: 375px;
      margin: auto;
  }
  .hero {
      width: 384%;
  }
}

/* iPads (portrait and landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
}

/* Small laptops  */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1224px) {
  .hero {
      width: 119%;
  }
}

/* large laptops  */
@media only screen and (min-device-width: 1225px) and (max-device-width: 1440px) {
  .container {
    width: auto;
  }
  .hero {
    width: 117%;
  }
  .membership-img {
    margin-top: 30px;
  }

  .pricing-image img {
    margin-top: 35px;
  }
}