@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: auto;
}

.header .logo {
    text-align: center;
}

.header .logo img {
    width: 416px;
    height: 63.77px;
    width: 416px;
    margin-top: 15.7px;
}

.header .container .line1 {
    content: '';
    width: 420px;
    margin-left: 510px;
    border: 1px solid #000000;
}

.hero {
    background-image: url(../images/Rectangle\ 1.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .container {
    padding: 102px 0 238px 61.48px;
    margin-top: 33.68px;
    text-align: center;
}

.hero h1 {
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}

.colored {
    color: #E67136;
}

.button-join {
    color: #FFFFFF;
    font-size: 18px;
    font-family:'Open Sans';
    font-weight: 600;
    line-height: 24.51px;
    width: 222px;
    height: 59px;
    padding: 17px 10px;
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-top: 64px;
    margin-left: auto;
    margin-right:auto;
}

section.membership {
    margin-bottom: 100px;
}

.membership .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #F5F4F4;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-evenly;
    padding-bottom: 140px;
}

.membership h2 {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
    text-align: center;
}

section.membership p.honour-text {
    font-family: 'Crimson Pro';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    text-align: center;
    color: #000000;
}

section.membership p.honour-quotes {
    font-family: 'Crimson Pro';
    font-weight: 300;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 60px;
    text-align: center;
    color: #000000;
}

.membership-img {
    display: flex;
    justify-content: flex-end;
    width: 460px;
    height: 580px;
    margin-top: -10px;
}

.membership-text {
    width: 680px;
    height: 420px;
    margin-top: -40px;
}

.membership-text p.honour-text {
    margin-top: 20px;
    margin-bottom: 30px;
}

button.membership-button {
    margin-left: 180px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    background: #E67136;
    border: 1px solid #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 20px 80px;
}

.explore .container {
    background-color: #F5F4F4;
    height: 750px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.explore-img {
    margin: -110px 235px 0 30px;
}

.explore-text {
    text-align: center;
    margin-right: 25px;
}

.explore .container .explore-text h2 {
    margin-top: -160px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
    text-align: center;
}

.explore-text p.explore-quotes {
    font-family: sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 1);
}

button.explore-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.2;
    color: #FFFFFF;
    border: 1px solid #E67136;
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 15px 80px;
}

section.pricing .container {
    width: 1440px;
    background: rgba(245, 244, 244, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 140px;
}

.pricing-text h2 {
    font-size: 42px;
    font-style: normal;
    font-family: 'Crimson Pro';
    text-align: center;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

p.pricing-quotes {
    color: rgba(0, 0, 0, 1);
    line-height: 2.5;
    text-align: center;
    margin-bottom: 50px;
}

button.pricing-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.2;
    color: #FFFFFF;
    border: 1px solid #E67136;
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 15px 80px;
}

.pricing-text {
    text-align: center;
}

section.pricing {
    margin-bottom: 100px;
}

.offer .container {
    background: #FFFFFF;
    margin-bottom: 140px;
}

.offer .offer-heading h2 {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 70px;
}
.offer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.offer-one-icon {
    margin-bottom: 25px;
    margin-left: 65px;
}

.offer-two-icon {
    margin-bottom: 25px;
    margin-left: 40px;
}

.offer-four-icon {
    margin-bottom: 25px;
}

.offer-four-icon {
    margin-bottom: 25px;
    margin-left: 35px;
}

.offer-one-heading {
    margin-bottom: 20px;
}

.offer-two-heading {
    margin-bottom: 25px;
}

.offer-three-heading {
    margin-bottom: 25px;
}

.offer-four-heading {
    margin-bottom: 25px;
}

.offer-icons h3 {
    font-size: 24px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.offer-icons p {
    color: rgba(0, 0, 0, 1);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

section.reward {
    text-align: center;
}

section.reward .container {
    width: 1440px;
    background: #F5F4F4;
}

.reward-heading {
    padding: 40px;
}

.reward-heading h2 {
    text-align: center;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;
    text-align: center;
}

.reward-heading h2 span.colored {
    font-size: 96px;
    font-weight: 700;
    font-family: 'Crimson Pro';
    font-style: normal;
}

.reward-text h4 {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 15px;
}

.reward-text p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 60px;
}

button.reward-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.2;
    color: #FFFFFF;
    border: 1px solid #E67136;
    background: #E67136;
    box-shadow: -30px 20px 30px rgb(0 0 0 / 25%);
    border-radius: 16px;
    padding: 10px 80px;
    margin-bottom: 80px;
}

section.brands .container {
    background: rgba(217, 217, 217, 0.2);
}

.brand-heading h2 {
    text-align: center;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color:rgba(230, 113, 54, 1);
    padding-top: 50px;
    padding-bottom: 100px;
}

.brand-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.tools-heading h2 {
    text-align: center;
    color: rgba(230, 113, 54, 1);
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin: 90px;
}

.tools-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tools-icon-one img {
    width: 154px;
    height: 89px;
    border-radius: 20px;
    margin-bottom: 15px;
    background: rgba(80, 105, 97, 1);
}

.tools-icon-two img {
    width: 154px;
    height : 89px;
    border-radius: 20px;
    margin-bottom: 15px;
    background: rgba(80, 105, 97, 1);
}

.tools-icon-three img {
    width: 154px;
    height: 89px;
    border-radius: 20px;
    margin-bottom: 15px;
    background: rgba(80, 105, 97, 1);
}

.tools-icon-four img {
    width: 154px;
    height: 89px;
    border-radius: 20px;
    margin-bottom: 15px;
    background: rgba(80, 105, 97, 1);
}

.tools-icon-one h3 {
    margin-bottom: 30px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.tools-icon-two h3 {
    margin-bottom: 30px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.tools-icon-three h3 {
    margin-bottom: 30px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.tools-icon-four h3 {
    margin-bottom: 30px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.tools-icon-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools-icon-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools-icon-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools-icon-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    text-align: center;
    color: rgba(230, 113, 54, 1);
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
}

.welcome {
    text-align: center;
}

.join-button {
    margin-bottom: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.2;
    color: #FFFFFF;
    border: 1px solid #E67136;
    background: #E67136;
    box-shadow: -30px 20px 30px rgb(0 0 0 / 25%);
    border-radius: 16px;
    padding: 10px 80px;
}

.footer {
    background:  rgba(0, 134, 87, 0.8)
}

.footer .container {
    color: black;
    background: white;
    border-radius: 40px;
}

.footer-contact h4 {
    color: rgba(230, 113, 54, 1);
}

.footer-part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-part2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-part3 {
    text-align: center;
}