@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header .logo {
    text-align: center;
}
.header .logo img {
    width: 416px;
    height: 63.77px;
    width: 416px;
    margin-top: 15.7px;
}
.header .line1 {
    content: '';
    width: 420px;
    margin-left: 750px;
    border: 1px solid #000000;
}
.hero {
    background-image: url(../images/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 102px 0 361px 61.48px;
    margin-top: 33.68px;
    text-align: center;
}
.hero h1 {
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}
.colored {
    color: #E67136;
}
.button-join {
    color: #FFFFFF;
    font-size: 18px;
    font-family:'Open Sans';
    font-weight: 600;
    line-height: 24.51px;
    width: 222px;
    height: 59px;
    padding: 17px 10px;
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-top: 64px;
    margin-left: auto;
    margin-right:auto;
}

.membership {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #F5F4F4;
}
.membership h2 {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
font-size: 48px;
line-height: 20px;
text-align: center;
}
section.membership p.honour-text {
    font-family: 'Crimson Pro';
    font-weight: 500;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
section.membership p.honour-quotes {
    font-family: 'Crimson Pro';
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.membership-img {
    margin: -10px 120px 148px 35px;
}
.membership-text {margin: 92px 618px 212px 144px;}